.dr-profile-sec{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dr-profile-img img{
    width: 100% ;
    height: 350px;
    object-fit: cover;
    border-radius:2rem ;
}
.hospital-profile-img{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius:2rem ;
}
.hospital-profile-img img{
    width: 100% ;
    height:450px;
    object-fit: cover;
    border-radius:2rem ;
}
.hospital-profile-img:hover{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius:2rem ;
}


.dr-profile-img{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius:2rem ;
}
.dr-profile-img :hover{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius:2rem ;
}
.dr-profile-sec.sec-2{
    gap: 20px;
}
.dr-profile-sec-row.head p{
    color: var(--mainColor);
    font-weight: 550;
}
.dr-profile-sec-row{
    display: flex;
    flex-direction: column;
}
.dr-profile-sec-row p{
    font-size: .9rem;
    max-width: 700px;
}
.dr-profile-sec-row h6{
    color: grey;
}
.dr-profile-sec-row .dr-profile-rating{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dr-profile-reviews{
    display: flex;
    flex-direction: column;
    
}
.dr-profile-review{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dr-profile-review p{
    font-size: .8rem;
    padding-left: 40px;
}
.dr-profile-review .head-sec{
    display: flex;
    gap: 10px;
    align-items: center;

}
.dr-profile-sec-row.button{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.dr-profile-sec-row.button button{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: var(--btnBg);
    border: none;
    outline: none;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}
.dr-profile-sec-row.button button:first-child{
    background: none;
    background: linear-gradient(90deg, hsla(254, 68%, 9%, 1) 0%, hsla(269, 97%, 37%, 1) 33%, hsla(320, 77%, 55%, 1) 66%,  hsla(254, 68%, 9%, 1) 100%);

    
    color: white;
}

.doctor-time-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.doctor-time-list .time-box{
    
    box-shadow: var(--defaultShadow);
    border-radius: 10px;
    color:white;
    font-weight:400;
    font-size:medium;
    padding-left: 8px;
    padding-right:8px;
    background-color: rgb(0, 0, 0);
}


